<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment (pageTitle = 'missing person')">
</head>
<body class="  amber lighten-1">
<!-- navbar -->
<header th:replace="fragments/layout :: headerFragmentAdmin">
</header>
<main class="amber lighten-3">
    <section class=" section row left-align container">
        <div class="row">
    <div  class="col s12">
      <ul class="tabs amber lighten-3">
        <li class="tab col s6"><a id = "new_post_tab"  class=" black-text waves-effect waves-green active" href="#post_mp">New Post</a></li>
        <li class="tab col s6"><a id = "prev_post_tab"  class=" black-text waves-effect waves-green" href="#mp_list">Previous Posts</a></li>
      </ul>
    </div>
    <div id="post_mp" class="  container row">
            <form class="col s12" method="post" name="news_form" th:action="@{/admin/missingPerson}" th:object="${missingPerson}" enctype="multipart/form-data">
         <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
          <div class="row">
        <h4>Missing Person Report Form</h4>
        <p>If you  wish to file a missing person report please use this online police report form to signalize it. The police will review
      and take the appropriate action. This Report will also be avaliable online for the public.</p>
    </div>
       <div class="row">
            <div class="row" th:if="${#fields.hasErrors()}">
				<span class="red-text"> Validation Error! Please correct your input and resubmit. </span>
			</div>
        <h6 class="indigo-text">Personal information about the missing person</h6>
        <div class="input-field col s4">
          <input th:field="*{fullname}" id="name" type="text" class="validate">
          <label for="name">Full Name</label>
          <span
					class="helper-text red-text" th:if="${#fields.hasErrors('fullname')}"
					th:errors="*{fullname}">Error
			</span>
        </div>

        <div class="input-field col s4 ">
          <input th:field="*{age}" id="Age" type="number" class="validate">
          <label for="Age">Age</label>
           <span
					class="helper-text red-text" th:if="${#fields.hasErrors('age')}"
					th:errors="*{age}">Error
			</span>
        </div>

        <div class="input-field col s4 ">
          <br>
      <span>
      <label>
        <input  th:field="*{gender}" th:value="Male" name="group1" class="with-gap" type="radio"  />
        <span>Male</span>
      </label></span>
      <span>
      <label>
        <input th:field="*{gender}" th:value="Female" name="group1" class="with-gap" type="radio" checked/>
        <span>Female</span>
      </label></span>
        </div>

      </div>

     
      <div class="row">
          <h6 class="indigo-text">When did the incident happen?</h6>
        <div class="input-field col s12">
         <input  th:field="*{dateMissing}" type="text" class="datepicker">
          <label for="content">Date Missing</label>
           <span
					class="helper-text red-text" th:if="${#fields.hasErrors('dateMissing')}"
					th:errors="*{dateMissing}">Error
			</span>
        </div>
      </div>
      <div class="row">
         <h6 class="indigo-text">Detailed information</h6>
         

   <div class="input-field col s12">
          <textarea  th:field="*{description}" id="content" class="materialize-textarea"></textarea>
          <label for="content">Please describe the missing person in detail</label>
          <span
					class="helper-text red-text" th:if="${#fields.hasErrors('description')}"
					th:errors="*{description}">Error
			</span>
        </div>
        <div class="file-field input-field  col s12">
      <div class="btn">
        <span>Upload image of the missing person</span>
        <input name="file" type="file">
      </div>
      <div class="file-path-wrapper">
        <input  class="file-path validate" type="text">
      </div>
      
    </div>
</div>

      <div class="row">
        <div class="input-field col s4 "></div>
         <div class="input-field col s4 ">
        <button type='submit' name='btn_crime_post' class='col s12 btn btn-large waves-green waves-effect purple darken-1'>File Report</button></div>
        <div class="input-field col s4 "></div>
      </div>
     
    </form>
  </div>

 <div id="mp_list" class=" container row ">
       
       <div class="row prev-mp-card">
        <div class="col s12">
          <h4>Previous Posts</h4>
        </div>
      </div>
    <div  class="row " th:each = "mp : ${all_mp}">
    <div  class="col s12 l12 prev-wp-card">
         <div class="card   blue-grey lighten-4 ">
        <div class="card-content black-text">
         <span class="new badge" data-badge-caption="" th:text = "${#dates.format(mp.createdAt,'dd-MM-yyyy HH:mm')}" >4</span>
         <span class="new badge red" data-badge-caption="" th:text = "${mp.user.username}" >4</span>
          <p th:utext = "|<strong>Full Name:</strong> ${mp.fullname}		<strong>Age:</strong> ${mp.age} <br><strong>Gender:</strong> ${mp.gender}|" class="card-title">{Name Age Gender} 
          </p>
          <img class="materialboxed" width="250" height="250" th:src="${mp.picturePath}">
          <p th:utext = "|<strong>Date Missing:</strong> ${mp.dateMissing}|" class="card-title">date missing</p>
          <p th:text = "${mp.description}">{I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.}</p>
        </div>
        
          <div class="card-action right-align">
          <button  data-target="delete_modal"  th:onclick="'showDeleteModalMp(\''+${mp.id} + '\')'"  class="btn-floating waves-effect modal-trigger waves-light red darken-1"><i class="fa fa-trash-o fa-2x"></i></button>
        </div>
      </div>
    </div>
  </div>
     
  </div>

</div>
        
    </section>
     </main>
     
  <div th:replace="fragments/layout :: deleteModalFragment">
    </div>

    <footer th:replace="fragments/layout :: footerFragment">
    </footer>
<div th:replace="fragments/layout :: scriptFragment"></div>
</body>
</html>