<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment (pageTitle = 'News')">
</head>
<body class="  amber lighten-1">
<!-- navbar -->
<header th:replace="fragments/layout :: headerFragmentAdmin">
</header>
<main>
<div class="amber lighten-2">
<section id="banner" class=" center container section">
<div class="card-action right-align">
        <div  class="row " th:each = "report:${all_report}">
    <div  class="col s12 l12 prev-news-card">
       <div class="card  white lighten-3 ">
        <div class="card-content black-text">
          
         <span   class="card-title" th:text = "${report.date}" >{News Title}
          </span>
          <span   class="card-title" th:text = "${report.address}" >{News Title}
          </span>
          
          <span   class="card-title" th:text = "${report.description}" >{News Title}
          </span>
          <span   class="card-title" th:text = "${report.peopleInvolved}" >{News Title}
          </span>
          <span   class="card-title" th:text = "${report.isAffected}" >{News Title}
          </span>
          <span   class="card-title" th:text = "${report.createdAt}" >{News Title}
          </span>
        </div>
      </div>
    </div>
  </div>   
        
  </div> 
    </section>
    </div>
    
    <section class="row center-align container">
        <br><br>
        <div class="col s12 m6 l4">
            
        </div>
        <div class="col s12 m6 l4">
            
        </div>
        <div class="col s12 m6 l4">
             
           
        </div>
    </section>
</main>
    <footer th:replace="fragments/layout :: footerFragment">
    </footer>

<div th:replace="fragments/layout :: scriptFragment"></div>

</body>
</html>