<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment (pageTitle = 'Login')">
</head>
<body class="  amber lighten-1">
<!-- navbar -->
<header th:replace="fragments/layout :: headerFragment">
</header>
	<main class="amber lighten-3">
    <section class=" section row center-align container">
        <div class="row">
    <div  class="col s12">
      <ul class="tabs amber lighten-3">
        <li class="tab col s6"><a  class=" black-text waves-effect waves-green active" href="#login">Login</a></li>
        <li class="tab col s6"><a  class=" black-text waves-effect waves-green" href="#signup">Sign Up</a></li>
      </ul>
    </div>
    <div id="login" class=" container row">
      <form class="col s12" method="post" name="login_form" >
        <h4>Login</h4>
       <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-green waves-effect deep-purple'>Login</button>
      </div>
     
    </form>
  </div>

 <div id="signup" class=" container row ">
      <form class="col s12" method="post" name="signup_form" >
        <h4>Signup</h4>
       <div class="row">
          <div class="input-field col s12 l6">
          <input id="name" type="text" class="validate">
          <label for="name">Full Name</label>
        </div>
        <div class="input-field col s12 l6">
          <input id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
         <div class="input-field col s12 ">
          <input id="telephone" type="number" class="validate">
          <label for="telephone">Telephone</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="address" class="materialize-textarea"></textarea>
          <label for="address">Address</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 ">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
           <div class="input-field col s12 ">
          <input id="password_confirm" type="password" class="validate">
          <label for="password_confirm">Confirm Password</label>
        </div>
      </div>
      
      <div class="row">
        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-indigo waves-effect green darken-2'>Signup</button>
      </div>
     
    </form>
  </div>

</div>
        
    </section>
     </main>
    <footer th:replace="fragments/layout :: footerFragment">
    </footer>
<div th:replace="fragments/layout :: scriptFragment"></div>
</body>
</html>