<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment (pageTitle = 'CRC Recent')">
</head>
<body class="  amber lighten-1">
<!-- navbar -->
<header th:replace="fragments/layout :: headerFragment">
</header>
<main class="amber lighten-3">

    <section class="row center-align container">
        <br><br>
        <h4>Recent News </h4>
    <div class="col s12 m6 l4" th:each = "news : ${recent_news}">
      <div class="card blue-grey  ">
        <div class="card-content grey-text">
          <span class="card-title"><strong  th:text="${news.title}" style="color:#d4d4d4">Card Title</strong></span>
        </div>
        <div class="card-action blue-grey darken-3 ">
          <strong><a class=" amber-text" th:href="@{/public/news/{id} (id = ${news.id})}">Read</a></strong>
        </div>
      </div>
    </div>
    <div class="col s12 ">
    <a class="btn btn-large green darken-2" th:href="@{/public/news}">All News</a>
    </div>
    </section>
        <section class="row center-align container">
        <br><br>
        <h4>Recent Missing Person Reports </h4>
    <div class="col s12 m6 l4" th:each = "mp : ${recent_mp}">
        <div class="card amber lighten-2 ">
        <div class="card-image">
          <img height="250" th:src="${mp.picturePath}">
          <span class="card-title" th:utext="|<strong>Name:</strong>${mp.fullname} <strong>Age:</strong>${mp.age}|">Card Title</span>
        </div>
        <div class="card-action blue-grey darken-3">
          <strong><a class=" amber-text" th:href="@{/public/missingPerson/{id} (id = ${mp.id})}">Read</a></strong>
        </div>
      </div>
    </div>
    <div class="col s12 ">
    <a class="btn btn-large green darken-2" th:href="@{/public/missingPerson}">All Missing Person Reports</a>
    </div>
    </section>
    
      <section class="row center-align container">
        <br><br>
        <h4>Recent Wanted Person Reports </h4>
    <div class="col s12 m6 l4" th:each = "wp : ${recent_wp}">
        <div class="card amber lighten-2 ">
        <div class="card-image">
          <img height="250" th:src="${wp.picturePath}">
          <span class="card-title" th:utext="|<strong>Name:</strong>${wp.fullname} <strong>Age:</strong>${wp.age}|">Card Title</span>
        </div>
        <div class="card-action blue-grey darken-3">
          <strong><a class=" amber-text" th:href="@{/public/wantedPerson/{id} (id = ${wp.id})}">Read</a></strong>
        </div>
      </div>
    </div>
    <div class="col s12 ">
    <a class="btn btn-large green darken-2" th:href="@{/public/wantedPerson}">All Wanted Person Reports</a>
    </div>
    </section>
     <section class="row center-align container">
        <br><br>
        <h4>Stolen Vehicle Reports </h4>
    <a class="btn btn-large green darken-2" th:href="@{/public/stolenVehicle}">All Stolen Vehicle Reports</a>
    </section>
</main>
    <footer th:replace="fragments/layout :: footerFragment">
    </footer>

<div th:replace="fragments/layout :: scriptFragment"></div>

</body>
</html>