<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: headFragment (pageTitle = 'Missing Person')">
</head>
<body class="  amber lighten-1">
<!-- navbar -->
<header th:replace="fragments/layout :: headerFragment">
</header>
<main class="amber lighten-3">
    <section class=" section row left-align container">
 <div id="news_list" class=" container row ">
       
       <div class="row">
        <div class="col s12">
          <h4>Missing Person Reports</h4>
        </div>
           
      </div>
      <div  class="row " th:each = "mp : ${all_mp}">
      <div id="prev-news-card" class="row">
    <div class="col s12 l12">
      <div class="card   blue-grey lighten-4 ">
        <div class="card-content black-text">
          <p th:utext = "|<strong>Full Name:</strong> ${mp.fullname}		<strong>Age:</strong> ${mp.age} <br><strong>Gender:</strong> ${mp.gender}		<strong>Date Missing:</strong> ${mp.dateMissing}|" class="card-title">{Name Age Gender} 
          <span class="new badge light-green darken-2" data-badge-caption="" th:text = "${#dates.format(mp.createdAt,'dd-MM-yyyy HH:mm')}" >{Date Created}</span>
          </p>
          <img class="materialboxed" width="250" height="250" th:src="${mp.picturePath}">
          <p th:text = "${mp.description}">{I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.}</p>
        </div>
      </div>
    </div>
  </div>
     
  </div>
  </div>

    </section>
     </main>
    <footer th:replace="fragments/layout :: footerFragment">
    </footer>
<div th:replace="fragments/layout :: scriptFragment"></div>
</body>
</html>